<%= form_for(@org) do |f| %>
  <% if @org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@org.errors.count, "error") %> prohibited this org from being saved:</h2>

      <ul>
      <% @org.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field" data-no-turbolink>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
      </div>
      <div class="form-group">
        <%= f.label :link %><br>
        <%= f.text_field :link %><br>
      </div>
      <div class="form-group" >
        <%= f.label :desc %><br>
        <%= f.text_area :desc, class: 'form-control ckeditor', :rows => 18 %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t('common.save'), :class => 'btn btn-primary' %>
      <%= link_to t('common.cancel'), jobs_path, :class => 'btn btn-default' %>
    </div>
<% end %>
